# CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE is not set
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
# CONFIG_KERNEL_GZIP is not set
# CONFIG_KERNEL_BZIP2 is not set
# CONFIG_KERNEL_LZMA is not set
CONFIG_KERNEL_XZ=y
# CONFIG_KERNEL_LZO is not set
# CONFIG_KERNEL_LZ4 is not set
# CONFIG_SLAB is not set
# CONFIG_SLUB is not set
CONFIG_SLOB=y

CONFIG_PRINTK=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_BUG=y
CONFIG_DEBUG_INFO_DWARF_TOOLCHAIN_DEFAULT=y
CONFIG_DEBUG_INFO=y
CONFIG_DEBUG_KERNEL=y
CONFIG_DEBUG_MEMORY_INIT=y
CONFIG_DEBUG_MISC=y
CONFIG_DEBUG_NOMMU_REGIONS=y
CONFIG_DEBUG_VM=y
CONFIG_EARLY_PRINTK=y
CONFIG_EMBEDDED=y
CONFIG_EXPERT=y
# CONFIG_KALLSYMS is not set
# CONFIG_MMU is not set
CONFIG_UACCESS_MEMCPY=y
CONFIG_PRINTK_TIME=y
CONFIG_EXT4_FS=y
CONFIG_NET=y


CONFIG_EMBEDDED=y